
@{
    ViewData["Title"] = "index";
}
@section Scripts{
    <script src="~/js/categoria/categoria-index.js"></script>
}

<h4 class="text-center text-primary mt-3">Lista de Categorias</h4>

<button class="btn btn-primary float-right" data-target="#modal-categoria" data-toggle="modal">Nova Categoria</button>

<table class="table table-striped table-hover table-bordered"
       id="categoria-index">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Ação</th>
        </tr>
    </thead>
</table>

 <partial name="ModalCadastro.cshtml"/>



